name: Publish NuGet Package

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  pack-and-push:
    runs-on: ubuntu-latest

    env:
      NUGET_SOURCE: https://api.nuget.org/v3/index.json

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build (generate package)
        run: dotnet build src/LbxyCommonLib/LbxyCommonLib.csproj -c Release --no-restore -p:ContinuousIntegrationBuild=true

      - name: Push to NuGet
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push "src/LbxyCommonLib/bin/Release/*.nupkg" --api-key "$NUGET_API_KEY" --source "$NUGET_SOURCE" --skip-duplicate
